**
!src/
!src/**
!infrastructure/
!infrastructure/indexing/
!infrastructure/indexing/handler.py
!infrastructure/indexing/Dockerfile
!infrastructure/retrieval/
!infrastructure/retrieval/handler.py
!infrastructure/retrieval/Dockerfile
!requirements.txt
**/__pycache__/
**/*.pyc
**/.env*
**/*.pem
**/*.key
